* {
    box-sizing: border-box;
}

body {
    background: #f69a73;
}

.container {
    /* position: relative; */
    max-width: 400px;
    margin: 50px auto 0;
    background: white;
    border-radius: 30px;
    display: block;
    text-align: center;
}

.title {
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #707981;

}